{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>The Department of Chemistry is the pioneer of Chemistry education in Kerala as one of
the biggest departments of all the colleges in Kerala  with two under graduate programs,
three post graduate programs, MPhil program and PhD in different areas of study, which is a blend of basic science courses, applied science courses and vocational courses. It hosts 17 permanent faculties and 3 adjunct faculties. The major areas of research in the department are Materials Science, Polymer Chemistry, Synthesis and Technology, Environment Chemistry, Electrochemistry, Physical Chemistry, Organic Synthesis, Theoretical and Computational chemistry and Chemical Physics. The department hosts two undergraduate labs, four post graduate labs, one predoctoral lab and four research labs. Faculties and
    students of the department publish research articles in various international journals. </p>
<img src="{%static 'img/chemlab.png'%}" alt="Image">
</body>
</html>