{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>The department of Commerce was established in 1962, with the commencement of the Pre-Degree course. Mr. C K Jose was the first member of the Department. Initially, the department of Commerce was attached to the department of Economics. When affiliation for BCom was granted in 1963, the Department became independent. Affiliation for MCom was granted in 1981. The department of Commerce was recognized as an approved research center of
  Mahatma Gandhi University in 2008 offering a doctoral programme in Commerce.</p>
<img src="{%static 'img/comm.jpeg'%}" alt="Image">
</body>
</html>