{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>The Department of Computer Science at JUx is a unique hub in the field of advanced learning.
  The Department starts functioning in 1992.
  It offers undergraduate and postgraduate courses in Computer Science.
  The Department moulds young outstanding professionals who are academically strong and competent enough to achieve their dreams.
  Special orientation is provided to the staff periodically for updating the latest technological
  changes.
    <img src="{%static 'img/computersc.jpg'%}" alt="Image">
</p>
</body>
</html>