{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>The department of English has been part of the tradition of St Berchmans since its inception. It became a full-fledged department when BA English was started in 1964. MA English Language and Literature was started in 1967. The elevation of the Department as a Research Centre in 1986 was a landmark in its history. In 2001, Model II BA English (Vocational) with a specialisation in Copy Editing was granted affiliation. The program was restructured in 2006 as BA English - Model II - Vocational (Journalism). Over these years our students have shown excellent performance, earning a great reputation for the College and the Department. Our alumni have distinguished themselves in all walks of life - Civil Service,
  Journalism, Academics, Ecclesiastics, and Public life.</p>
<img src="{%static 'img/eng.jpeg'%}" alt="Image">
</body>
</html>